services:
  user-db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"

  user-service:
    build: ./user
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      DB_URL: jdbc:postgresql://user-db:5432/userdb
      DB_USERNAME: user
      DB_PASSWORD: password
    depends_on:
      - user-db

  product-db:
    image: postgres:15
    container_name: product-db
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"

  product-service:
    build: ./product
    container_name: product-service
    ports:
      - "8082:8082"
    environment:
      DB_URL: jdbc:postgresql://product-db:5432/productdb
      DB_USERNAME: user
      DB_PASSWORD: password
    depends_on:
      - product-db

  inventory-db:
    image: postgres:15
    container_name: inventory-db
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"

  inventory:
    build: ./inventory
    container_name: inventory-service
    ports:
      - "8083:8083"
    environment:
      DB_URL: jdbc:postgresql://inventory-db:5432/inventorydb
      DB_USERNAME: user
      DB_PASSWORD: password
    depends_on:
      - inventory-db
##
#  cart-db:
#    image: postgres:15
#    container_name: cart-db
#    environment:
#      POSTGRES_DB: cartdb
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
#    ports:
#      - "5435:5432"
#
#  order-db:
#    image: postgres:15
#    container_name: order-db
#    environment:
#      POSTGRES_DB: orderdb
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
#    ports:
#      - "5436:5432"
#
#  inventory-db:
#    image: postgres:15
#    container_name: inventory-db
#    environment:
#      POSTGRES_DB: inventorydb
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
#    ports:
#      - "5437:5432"
#
#  payment-db:
#    image: postgres:15
#    container_name: payment-db
#    environment:
#      POSTGRES_DB: paymentdb
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
#    ports:
#      - "5438:5432"
#
##  user:
##    build: ./user
##    container_name: user-service
##    ports:
##      - "8081:8081"
##    depends_on:
##      - user-db
##
##  product:
##    build: ./product
##    container_name: product-service
##    ports:
##      - "8082:8082"
##    depends_on:
##      - product-db
##
##  cart:
##    build: ./cart
##    container_name: cart-service
##    ports:
##      - "8083:8083"
##    depends_on:
##      - cart-db
##
##  order:
##    build: ./order
##    container_name: order-service
##    ports:
##      - "8084:8084"
##    depends_on:
##      - order-db
##
##  payment:
##    build: ./payment
##    container_name: payment-service
##    ports:
##      - "8086:8086"
##    depends_on:
##      - payment-db
##
##  apigateway:
##    build: ./apigateway
##    container_name: api-gateway
##    ports:
##      - "8080:8080"
##    depends_on:
##      - user
##      - product
##      - cart
##      - order
##      - inventory
##      - payment
