server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:

        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/users/**

        - id: product-service
          uri: http://product-service:8082
          predicates:
            - Path=/api/products/**

        - id: inventory-service
          uri: http://inventory-service:8083
          predicates:
            - Path=/api/inventory/**

        - id: order-service
          uri: http://order-service:8084
          predicates:
            - Path=/api/orders/**

        - id: payment-service
          uri: http://payment-service:8085
          predicates:
            - Path=/api/payment/**

        - id: cart-service
          uri: http://cart-service:8086
          predicates:
            - Path=/api/cart/**

logging:
  level:
    org:
      springframework:
        security=DEBUG:
#jwt:
#  secret: mysupersecretkeymysupersecretkey123456
