server:
  port: 8086

spring:
  datasource:
    url:  jdbc:postgresql://cart-db:5432/cartdb
    username: user
    password: password

  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: billubakchodbillubakchod123456
